{% extends "main_temp.html" %}

{% block meta_title %}About me{% endblock %}
{% block meta_description %}Hi! I am Mazhar. I am a PhD student at Department of Microbiology and Immunology, University
of Otago. Bioinformatics, Molecular Virology, Cell Death, and Signal Transduction mechanisms are my areas of interest.{% endblock %}
{% block meta_keywords %}bioinformatics tools, Molecular Virology, Cell Signalling,
Cell Death,bioinformatics software{% endblock %}

{% block page_title %}About me{% endblock %}








{% block content %}

    <header class="masthead text-center d-flex">
      <div class="container my-auto">
        <div class="row">
          <div class="col-lg-12 mx-auto">
           <h1><img src="{{ url_for('static', filename='images/portfolio/under_construction_hammer.gif') }}"></h1>
          </div>
        </div>
      </div>
    </header>



{% endblock %}