{% extends "main_temp.html" %}

{% block content %}


    <header class="masthead text-center d-flex">
      <div class="container my-auto">
        <div class="row">
          <div class="col-lg-10 mx-auto">
            <h1 class="text-uppercase">
              <strong>BiologyWay</strong>
            </h1>
            <hr>
          </div>
          <div class="col-lg-8 mx-auto">
            <p class="mb-5">Passion to learn science</p>
            <a class="btn btn-primary btn-xl js-scroll-trigger" href="/bioinfo_tools">Bioinformatics Tools</a>
          </div>
        </div>
      </div>
    </header>



{% endblock %}

