{% extends "main_temp.html" %}

{% block content %}

<link href="{{ url_for('static', filename='css/special.css') }}" rel="stylesheet">
<body>
<header class="masthead text-center d-flex">

     <div class="container my-auto">
         <h1 class="display-3">Counting DNA Nucleotides</h1>
    	<div class="row">
			<div class="col-lg-10 mx-auto">
				<ul class="event-list">
                    <p>

{% if name[0] == "Sorry Bad Sequence" %}
                   <div class="alert alert-danger" role="alert">


                    <strong>{{ "In valid input:" }}</strong>
                    {{ "Please provide the string of nucleotides consisting only of 'G', 'C', 'A', 'T'." }}
                       </div>

                    <br>
                    <form action='/nucleotidecount_app' method="post">
  <div class="form-group">
    <label for="nucleotide_seq">Enter your plain text nucleotide (DNA) sequence here:</label>
    <textarea class="form-control" id="nucleotide_seq" name="nucleotide_seq" rows="10">{{ name[1] }}</textarea>
  </div>



  <button type="submit" class="btn btn-primary">Submit</button>
</form>

{% else %}
                   <div class="container-fluid">


                    <div class="alert alert-success" role="alert">
  <h4 class="alert-heading">Nucleotide Sequence</h4>
                        <form>
                        <p><textarea class="form-control" id="nucleotide_seq" name="nucleotide_seq" rows="10">{{ name[1] }}</textarea></span></p></form>
  <hr>
  <p class="mb-0">Number of nucleotides</p>
                        <p> A:{{ name[0]['A'] }}; G:{{ name[0]['G'] }}; C:{{ name[0]['C'] }}; T:{{ name[0]['T'] }}

</div>
                       </div>


{% endif %}

                    </ul>
			</div>
		</div>
	</div>
</header>>
</body>

{% endblock %}


